# Ambiente Virtual (Muito importante ignorar!)
venv/
env/
.env

# Arquivos compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Logs (Se você usar aquele comando nohup, ele gera logs)
*.log
nohup.out

# Vídeos e Áudios de teste local (Para não subir arquivos pesados no repositório)
*.mp4
*.avi
*.mkv
*.mov
*.mp3
*.wav

# Sistema Operacional
.DS_Store
Thumbs.db
